ModbusTCP.json
[{"id":"bc294977.fea768","type":"tab","label":"Flow 1"},{"id":"c0b03838.970f28","type":"modbus-client","z":"","name":"PLC300","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"10.1.89.3","tcpPort":"502","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"255","commandDelay":"100","clientTimeout":"1000","reconnectTimeout":"1000"},{"id":"4ba6a01d.ff79a","type":"modbus-write","z":"bc294977.fea768","name":"","showStatusActivities":false,"unitid":"","dataType":"Coil","adr":"16001","quantity":"1","server":"c0b03838.970f28","x":449,"y":326,"wires":[["3ed7551d.99993a"],[]]},{"id":"700214df.0c0ffc","type":"modbus-getter","z":"bc294977.fea768","name":"","showStatusActivities":false,"unitid":"","dataType":"InputRegister","adr":"3001","quantity":"1","server":"c0b03838.970f28","x":448,"y":236.5,"wires":[["16a323f4.faff0c"],[],[]]},{"id":"cc47bf02.9d2f3","type":"inject","z":"bc294977.fea768","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":234,"y":237,"wires":[["700214df.0c0ffc"]]},{"id":"16a323f4.faff0c","type":"debug","z":"bc294977.fea768","name":"","active":true,"console":"false","complete":"false","x":700,"y":224,"wires":[]},{"id":"4c0e4328.0d542c","type":"inject","z":"bc294977.fea768","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":238,"y":326,"wires":[["4ba6a01d.ff79a"]]},{"id":"3ed7551d.99993a","type":"debug","z":"bc294977.fea768","name":"","active":true,"console":"false","complete":"false","x":699,"y":320,"wires":[]}]